* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #adf7b6;
}

.main {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  display: none;
  margin-top: 40px;
}

.card {
  background-color: red;
}

.placeholder-card {
  display: block;
  margin-top: 80px;
}

.page-header {
  text-align: center;
  margin-top: 50px;
}

.card-img-top {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.search-input{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
}

.search-input input{
  padding: 10px;
  width: 20%;
}

.search-input button{
  padding: 12px 30px 12px 30px;
  background-color: #adf7b6;
  border: none;
}

@media only screen and (max-width: 900px) {
  .search-input input{
    width: 60%;
  }
}

