* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    background-color: #adf7b6;
  }
  
  .main {
    /* height: 100vh; */
    width: 100%;
  }
  
  .main-container {
    /* height: 100vh; */
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  
  .side1 {
    width: 50%;
  }
  
  .side1-container {
    width: 100%;
  }
  
  .side2 {
    width: 50%;
  }
  
  .side2-container {
    width: 100%;
  }
  
  .tagline-header {
    font-size: 60px;
    color: rgb(100, 100, 100);
  }
  
  .tagline-description {
    font-size: 20px;
    line-height: 2;
    color: rgb(100, 100, 100);
  }
  
  .highlight {
    color: #57ff6b;
  }
  
  .buttons {
    display: flex;
    gap: 15px;
  }
  
  @media only screen and (max-width: 900px) {
    .main-container {
      flex-direction: column;
    }
  
    .side1 {
      width: 100%;
    }
  
    .side2 {
      width: 100%;
    }
  
    .side2-container {
      padding: 0px 10px 0px 10px;
      text-align: center;
    }
  
    .tagline-header {
      font-size: 40px;
    }
  
    .tagline-description {
      font-size: 20px;
    }
  
    .btn {
      width: 100%;
    }
  
    .buttons {
      flex-direction: column;
    }
  }
  